.alert {
 margin-bottom: 0 !important;
}

.header-main {
    padding: 1em 0;
}

.search-nav-links {
 position: relative;
 margin-top: 15px;
}

button[type=submit]{
position: absolute;
right: 0;
top: -5px;
}

.search-nav-links .btn-outline-success {
 background: #dc0050;
 color: #fff;
 border-radius: 0 4px 4px 0;
}

.search-nav-links .btn-outline-success:hover, .search-nav-links .btn-outline-success:active .search-nav-links .btn-outline-success:focus {
 background: #b50042 !important;
 border-color: #b50042 !important;
 color: #fff !important;
 box-shadow: none !important;
 outline: none !important;
 text-decoration: underline;
 
}

.breadcrumb {
background-color: transparent !important;
color: #222;
font-size: 12px;
margin-bottom: 0 !important;
padding: 0 !important;
}

.breadcrumb a {
 color: #222;
 text-decoration: none !important;
}

.breadcrumb a:hover {
 color: #222;
 text-decoration: underline !important;
}

 header h1 {
  color: #002e6f;
    font-family: "Arial Bold", Gadget, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 15px 0 25px 0;
 }

.sidebar__content {
 padding: 17.6px;
 font-size: 17.6px;
}

.page-body {
    left: 0! important;
    width: 100% ! important;
}
 
.top-strip {
padding: 0;
}

.top-strip h1 {
 font-size: 36.8px;
 font-family: arial;
 font-weight: bold;
}

body {
    background: none repeat scroll 0% 0% #00193c !important;
}

.sidebar__content {
 display: none !important;
}

.navbar {
 background: #f6f0ef;
 padding: 1rem 0;
 width: 100%;
 justify-content: flex-end;
 margin-bottom: 0 !important;
 min-height: 0 !important;
}

.navbar-collapse {
 padding-left: 0 !important;
}

.navbar-brand {
 margin-right: auto;
 color: #dc0050 ! important;
 font-size: 1.2em;
 font-weight: bold;
}

.navbar-nav {
 padding-left: 15px;
}

button.navbar-toggler {
    margin-right: 1rem;
}

.nav-item {
 padding: 0 !important;
}

.nav-link:active {
 color: #000;
}

.dropdown-menu a:hover, .dropdown-menu a:active, .dropdown-menu a:visited {
  background: #f6f0ef
}

.landing-box-row {
margin-top: 20px;
}

label[for="ctl00_SearchBox1_siteSearch"] {
   display: none !important
}

#ctl00_SearchBox1_pnlSiteSearch {
 margin-top: 18px;
}
.landing-box-container {
 display: flex;
}

.landing-box {
 color: #fff;
 font-family: "franklin-gothic-urw",sans-serif;
 font-size: 16px;
 transition: 0.4s all;
 margin-bottom: 30px;
 background: #00193c;
}

.landing-box a {
 display: block;
 width: 100%;
 height: 100%;
 color: #fff;
 text-decoration: none !important;
}

.landing-box a:hover {
 text-decoration: underline !important;
 color: #fff !important;
}

.image-wrap {
 display:block;
 width: 100%;
 overflow: hidden;
}

.image-wrap img {
 width: 100%;
 -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.landing-box img {
 width: 100%;
}

.landing-box:hover {
 background-color: #002e6f;
}

.landing-box:hover img {
 transform: scale(1.1,1.1);
}

.box-text {
 display: block;
 padding: 7px 10px;
}

.also-row {
 margin-top: 20px;
}

.also {
 font-size: 16px;
 display: flex;
 align-items: center;
 margin-bottom: 10px;
}

.also-head {
 text-align: center;
}

.also img {
height: 50px;
padding-right: 7px;
}

.info-box {
 margin-top: 20px;
 padding: 20px;
border: 1px solid #aaa;
border-radius: 10px;
}

.info-box h2 {
 margin: 9.1px 0 15px 0;
 font-family: "franklin-gothic-urw",sans-serif;
 font-size: 26px;
 font-weight: 700;
 line-height: 1.2;
}

.info-box p {
 font-size: 16px;
}

.info-box img {
 width: 100%;
 margin: 10px 0 20px 0;
 padding-top: 5px;
}

.info-box::after {
  content: "";
  clear: both;
  display: table;
}

.subject-header {
    color: #666;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    width: 100%;
}

.subject-header:before {
    content: "\25A0";
    line-height: 0;
    font-size: 1.5em;
    color: #002e6f;
    margin-right: 5px;
}

.icon-container-wrapper {
 margin-top: 10px;
}

.icon-container-wrapper .icon-container {
	font-family: "franklin-gothic-urw",sans-serif;
	overflow: auto;
	padding: 0 0.75em 0.75em 0.75em;
	text-align: center;
	vertical-align: top;
	width: 230px;
}

.icon-container a {
color: #00193c !important;
text-decoration: none !important;;
}

.icon-container img {
padding: 5px;
    transition: padding .3s ease-out;
    height: 70px;
    box-sizing: border-box;
}

.icon-container a:hover img{
	padding: 0;
	transition: padding .1s ease-out;
}

.icon-container h2 {
font-family: "franklin-gothic-urw",sans-serif;
    font-weight: 600;
    font-size: 17.6px;
    margin: 0px 0px 0.5em;
    transition: 0.4s all;
}

.icon-container a:hover h2{
    color: #00193c !important;
    text-decoration: underline;
}

.nav-item {
  border-bottom: 1px solid #bbbbbb;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link {
 color: #002e6f;
 padding-top: 10px;
 padding-bottom: 10px;
 line-height: 20px;
}

.item-list {
 display: none;
}

 .footer-main > div.container {
  display: block;
 }
 
 .footer-main {
  padding: 1em 0;
  font-size: 14px;
 }
 
.footer-column {
 border-right: 1px solid rgba(255,255,255,0.4);
}

 .footer-column:nth-of-type(5) {
 border-right: 0;
}

.footerLinks {
 display: block;
}

.footerLinks a {
 display: block;
 margin: 5px 0;
}

.footer-column:nth-of-type(3) .footerLinks a:nth-of-type(1) {
 margin: 0 0 5px 0;
}

.stayconnected  {
 text-align: center;
 margin-top: 20px;
 display: none;
}

.stayconnected-mobile img {
 max-width: 100%;
 margin-top: 10px;
}

.hide-mobile {
 display:none ;
}

.social-column {
 display: flex;
 flex-wrap: wrap;
}

.social-block {
  align-self: flex-end;
}

.flxb-button.flxb-docked:not(.flxb-dock-full) {
    width: 50px;
    height: 188px;
    bottom: auto;
    top: calc(75% - 100px);
}

@media only screen and (min-width: 576px) {
 
button[type=submit]{
top: 0;
}
 
.info-box img {
 float: right;
 width: 25%;
 margin: 0 0 20px 20px;
}

.footer-column:nth-of-type(3) .footerLinks a:nth-of-type(1) {
 margin: 5px 0;
}

.mobile-only {
 display: none;
}

.hide-mobile {
 display:block ;
}

.social {
 text-align: center;
 padding: 20px;
}

.social a {
 display: inline;
 margin: 0 10px;
}

.stayconnected  {
 margin-top: 0;
 display: block;
}

}


@media only screen and (min-width: 650px) {

 .item-list {
 display: block;
}
 
 .alert {
 margin-bottom: 0 !important;
}




}

@media only screen and (min-width: 768px) {

.top-strip {
background: #f6f0ef;
padding: 0;
margin: 0;
}

.top-strip h1 {
 font-size: 36.8px;
 font-family: arial;
 font-weight: bold;
}

body {
    background: none repeat scroll 0% 0% #00193c !important;
}

.top-strip .container {
 overflow-x: visible;
 overflow-y: visible;
}

.navbar {
 background: #f6f0ef;
 margin-bottom: 0 !important;
 padding: 0;
min-height: 50px;
border-radius: 0 !important;
width: 100%;
margin-right: 15px;
}

.navbar-collapse {
 padding-right: 0 !important;
}

.navbar-nav {
 width: 100%;
 padding-left: 0;
}

.nav-item {
  border-right: 1px solid #999;
  border-bottom: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-height: 50px !important;

}

.nav-item:first-of-type {
  border-left: 1px solid #999;
}

.dropdown-toggle, .dropdown-item {
 white-space: normal !important;
}

.dropdown-toggle::after {
 display: none;
}

.dropdown-menu {
 background: #f6f0ef !important;
 width: 150%;
 border-top: 0 !important;
}

.dropdown-menu a {
 color: #000;
}

.nav-item:hover .dropdown-menu {
 display: block;
}

.nav-link {
width: 100%;
height: 100%;
position: relative;
}

.nav-link span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link,  .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link:hover {
 color: #000;
 text-decoration: none;
}
 
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link {
  padding-top: 25px;
  padding-bottom: 25px;
 }
 
.stayconnected  {
 text-align: left;
}
 
.footer-column:nth-of-type(4) {
 border-right: 0;
}

.social {
 text-align: left;
 padding: 0;
}

.social a {
 display: block;
 margin: 5px 0;
}

}

@media only screen and (min-width: 900px) {
 
.flxb-button.flxb-docked:not(.flxb-dock-full) {
    width: 75px;
}

}


